In [107]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [108]:
# Load crime data set into pandas
state_economy = pd.read_csv("state_economy.csv")
state_economy.head()

,SQGDP2 Gross domestic product (GDP) by state 1/,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,(Millions of current dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State or DC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
4,0,United States *,1,All industry total,12761337,12910022,13142873,13332316,13603933,13749806,...,19356649,19611704,19918910,20163159,20510177,20749752,20897804,21098827,21340267,21542540

In [109]:
state_economy.columns = state_economy.iloc[3]
state_economy.head()

3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
0,(Millions of current dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State or DC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
4,0,United States *,1,All industry total,12761337,12910022,13142873,13332316,13603933,13749806,...,19356649,19611704,19918910,20163159,20510177,20749752,20897804,21098827,21340267,21542540

In [110]:
df = state_economy.drop([0,1,2,3])

In [111]:
df1 = df.drop([1447,1448,1449,1450,1451])

In [112]:
df1 = df1.dropna()
df1.head(60)

3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
4,0,United States *,1,All industry total,12761337,12910022,13142873,13332316,13603933,13749806,...,19356649,19611704,19918910,20163159,20510177,20749752,20897804,21098827,21340267,21542540
5,0,United States *,2,Private industries,11077820.8,11209860.8,11423916.2,11593875.1,11845005.4,11971058.3,...,16915009,17149802,17434780,17654891,17977475,18189960,18320015,18503089,18724676,18897219
6,0,United States *,3,"Agriculture, forestry, fishing and hunting",130472.2,130667.4,128250.5,123996.9,119576.9,123277.5,...,178485,169133,169305,169446,172100,160510,163799,161084,165741,173393
7,0,United States *,6,"Mining, quarrying, and oil and gas extra...",197013.5,210279.9,232654.1,262763.6,268211,272817.2,...,277806,286628,318582,328770,346432,361288,350091,324570,331738,310758
8,0,United States *,10,Utilities,192325.6,189654.3,200008.3,210583.4,220649.8,226783,...,316793,315226,321076,322592,326273,323103,331440,331778,332671,336272
9,0,United States *,11,Construction,628497.6,643746,664197.3,670825.2,698776.4,698489.3,...,781456,793586,807546,824254,835302,845371,851643,871387,883874,890334
10,0,United States *,12,Manufacturing,1673020.7,1667801.2,1703061.7,1729883.1,1780270.9,1797640.1,...,2157123,2196235,2251478,2274772,2308125,2337156,2364714,2337619,2355032,2365492
11,0,United States *,13,Durable goods manufacturing,945528.1,946649.2,960430.9,974590.6,1004784.2,1004086.9,...,1217524,1235948,1262095,1272352,1286168,1305727,1321374,1336049,1341656,1344818
12,0,United States *,25,Nondurable goods manufacturing,727492.7,721152.1,742630.8,755292.5,775486.6,793553.2,...,939599,960287,989384,1002420,1021956,1031428,1043341,1001569,1013377,1020675
13,0,United States *,34,Wholesale trade,742767.9,745248.6,759656,772124.5,793711.5,807473.5,...,1157260,1168569,1186549,1184398,1200091,1217788,1246640,1262899,1269028,1287240
14,0,United States *,35,Retail trade,824780.5,834424,846150.7,857951.9,867198.4,868315.4,...,1076822,1088231,1099849,1110781,1130637,1131668,1134430,1153880,1163601,1184561
15,0,United States *,36,Transportation and warehousing,358230.1,368688.6,382488.3,393892,401547.7,409399.7,...,608582,616862,626466,640602,651710,662981,677205,682520,682322,683818
16,0,United States *,45,Information,641864.4,649640.8,638820,639026.4,633845.8,652103.1,...,988552,1007563,1020683,1029258,1071830,1083064,1086825,1097300,1117578,1128766
17,0,United States *,51,Finance and insurance,937845.8,960457.4,988673.7,1007843.5,1031490.8,1025183.3,...,1458466,1492129,1514743,1534582,1567759,1603712,1563231,1603519,1633003,1627360
18,0,United States *,56,Real estate and rental and leasing,1605119.1,1627136.4,1646974.6,1650629,1662555.3,1687356.5,...,2586615,2617475,2649471,2683653,2723444,2751241,2778793,2810419,2852585,2884192
19,0,United States *,60,"Professional, scientific, and technical ...",835694.6,843602.5,857768.7,872539.7,901767.2,909820.7,...,1441165,1461090,1481757,1512817,1542651,1561208,1568966,1608135,1641985,1666927
20,0,United States *,64,Management of companies and enterprises,209399.7,211390.9,216883.1,218775.3,226202.5,229719.9,...,369307,374735,387952,389453,391647,399828,398557,409397,415816,422180
21,0,United States *,65,Administrative and support and waste man...,369891,378262.3,383145.9,388268.5,395494.2,395896.4,...,596463,607404,617962,623097,632879,642126,654439,660429,670080,680985
22,0,United States *,69,Educational services,131123.6,132358.3,134197.7,135236.1,140248.3,142356.6,...,245152,246456,248051,251091,253941,256681,260478,261012,260182,265091
23,0,United States *,70,Health care and social assistance,822064.1,830317.9,843332.1,853338.2,877188.4,889786.5,...,1455219,1468113,1483610,1509432,1528208,1544317,1565675,1590654,1604471,1628029
24,0,United States *,76,"Arts, entertainment, and recreation",118898.2,121125.4,123750.4,125094.1,128828.2,130459.4,...,211715,218795,217244,218380,228752,230808,231747,234546,235130,235527
25,0,United States *,79,Accommodation and food services,352841.5,356439.8,361382,365420,376483.6,379250,...,597773,604697,610567,620094,630546,636823,645283,651561,656663,667387
26,0,United States *,82,Other services (except government and go...,305970.6,308618.9,312521.1,315683.7,320958.5,324930.1,...,410255,416873,421888,427418,435148,440287,446059,450380,453176,458908
27,0,United States *,83,Government and government enterprises,1683518.6,1700160.9,1718957.5,1738442,1758929.6,1778748.8,...,2441640,2461902,2484130,2508266,2532701,2559790,2577789,2595740,2615592,2645324
29,0,United States *,100,"All industry total, overseas activity",78184.2,78863.2,79656.4,80500.5,81409.9,82205,...,113097,113505,114205,115199,116233,117417,118213,119036,119946,121310
30,0,United States *,101,"Government and government enterprises, oversea...",78184.2,78863.2,79656.4,80500.5,81409.9,82205,...,113097,113505,114205,115199,116233,117417,118213,119036,119946,121310
31,1000,Alabama,1,All industry total,152640.8,154962.5,156410.9,159867.4,161258.9,163487,...,208359.9,210680.7,214779.5,217369.7,220572.2,223140.7,225859.4,227735,229939.2,232144.7
32,1000,Alabama,2,Private industries,127919.3,129987.8,131254.7,134347.6,135791.9,137261.1,...,172902.2,175417,178932.5,181210.2,184109.2,186496.1,188887.2,190632.5,192571.8,194308.9
33,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",2659.8,2643.4,2600.6,2617.7,1968.9,2090.1,...,2392.5,2202,2232.9,2359.5,2380,2117.7,2243.8,1878.1,1942.7,2029.6
34,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",2421.4,2645.8,2783.3,3137.7,2939.1,2841.3,...,2758.9,2804.8,3129.6,3056.7,2964.5,3032.7,2975.3,2679.9,2755.2,2581.4
35,1000,Alabama,10,Utilities,3586.6,3730,4008.8,3970.7,4397.9,4284,...,5791.5,6367,6507.8,6357.9,6213.4,6554,6837.1,7057.4,7071.8,7155.6
36,1000,Alabama,11,Construction,7434.9,7605.6,7750.8,8116.4,8353.5,8522.5,...,7202.2,7343.4,7377.4,7563.8,7743.6,7961.2,8117.7,8246.8,8420.5,8432.5
37,1000,Alabama,12,Manufacturing,27768.3,27502.5,27802.5,28958.5,29575.7,29958.5,...,34687.5,35565,36491.1,37034.7,37101.5,37950.3,38382.1,38350.4,38618.4,38714.4
38,1000,Alabama,13,Durable goods manufacturing,16549.4,16766.9,16949.4,17974.3,18352.2,18441.4,...,22090.5,22503.6,22886.6,23083.9,23249,23670.3,23966.8,24481.9,24589.5,24733.5
39,1000,Alabama,25,Nondurable goods manufacturing,11218.9,10735.6,10853.2,10984.2,11223.5,11517.1,...,12597,13061.4,13604.4,13950.8,13852.4,14279.9,14415.3,13868.6,14028.9,13980.8
40,1000,Alabama,34,Wholesale trade,8747.9,8831.8,8989,9302.1,9346.4,9466.8,...,11944.8,12037.9,12038.1,12107.9,12215,12377.8,12714.5,12817.8,12789.5,12974.8
41,1000,Alabama,35,Retail trade,11560.6,11765.1,11759.7,12142,12282.9,12332.8,...,14074.2,14185.9,14423.9,14796.8,15324.3,15470.4,15596.1,15916.1,16014.8,16341.9
42,1000,Alabama,36,Transportation and warehousing,3928.7,4110.2,4229.4,4387.7,4455.4,4504.6,...,5639.2,5700.2,5821.8,5979.1,6080.9,6191.1,6367,6385.1,6370.4,6385.2
43,1000,Alabama,45,Information,5159,5300.2,5177.5,5111.5,5236.7,5339.2,...,4642.9,4720,4735.1,4594.2,4805.7,4887.4,4857.6,5171.3,5220.3,5280.3
44,1000,Alabama,51,Finance and insurance,9712.1,10116.7,9507.2,9393.2,9094.6,9107.1,...,11783.3,11974,12447.6,12790.9,13382.7,13476.9,13144.3,13422,13693.4,13640.4
45,1000,Alabama,56,Real estate and rental and leasing,13810.9,14080.4,14336.8,14406.3,14406.9,14771.6,...,22365.5,22446.7,22809.8,23100.6,23485.2,23653,23990.4,24212.7,24492.3,24736.8
46,1000,Alabama,60,"Professional, scientific, and technical ...",8022.6,8160.8,8444.8,8446.3,8829.9,8998.5,...,12849.4,13032.6,13428.9,13501.5,13852.4,13951.5,13973.8,14237.8,14582.8,14753.6
47,1000,Alabama,64,Management of companies and enterprises,992.9,1119.3,1184.5,1182.4,1256.2,1191.9,...,2317.5,2068,2198.7,2245.3,2116,2076.7,2154.3,2224.9,2262.6,2284
48,1000,Alabama,65,Administrative and support and waste man...,3409.7,3551.5,3645.3,3774.2,3795,3728.7,...,5616,5751.6,5846.9,5890.3,5958.4,6064.1,6270.3,6340.8,6440.7,6592.8
49,1000,Alabama,69,Educational services,758.8,771,761.2,785.5,799.5,827.9,...,1323,1319.3,1313.1,1296.1,1346.1,1328.2,1391.3,1382.3,1371.5,1391.5
50,1000,Alabama,70,Health care and social assistance,9731.1,9801.4,9925.1,10140,10347.9,10535.2,...,15572.8,15747,15847,16043.6,16312.6,16422.7,16586.5,16935.9,17073.6,17347.3
51,1000,Alabama,76,"Arts, entertainment, and recreation",533,519.7,523,534.4,546.9,554.6,...,779.6,796,817.1,815.4,863.1,862.3,866.1,908.8,906,902.1
52,1000,Alabama,79,Accommodation and food services,3453,3480.4,3503,3600.1,3711.7,3722.7,...,5940.6,6032.5,6070.2,6181.5,6341.5,6411,6588.8,6606.2,6651,6777.5
53,1000,Alabama,82,Other services (except government and go...,4228.1,4251.9,4322.2,4340.8,4446.8,4483.2,...,5220.7,5323.1,5395.7,5494.6,5622.4,5707,5830.4,5858,5894.3,5987.1
54,1000,Alabama,83,Government and government enterprises,24721.5,24974.7,25156.2,25519.8,25466.9,26225.9,...,35457.6,35263.7,35847,36159.5,36463,36644.7,36972.1,37102.5,37367.3,37835.8
55,2000,Alaska,1,All industry total,37377.7,38626,40251.7,42843.8,42633.9,44349.8,...,51274,52060.2,52778.4,53563,54372.7,55410,55590.6,54941.4,55494.6,55429.6
56,2000,Alaska,2,Private industries,29922.1,31124.5,32738.4,35105.6,34926.8,36498.5,...,40781.9,41567.9,42087.3,42878.5,43551.9,44497.8,44702.2,43966.2,44448.1,44281.3
57,2000,Alaska,3,"Agriculture, forestry, fishing and hunting",216.5,261.2,376.2,526.8,404.9,348.8,...,374.7,399.4,404.1,356.3,367.1,442.8,459.9,449.5,432.4,439.3
58,2000,Alaska,6,"Mining, quarrying, and oil and gas extra...",8610.3,9655,10508,12822.4,12675.7,13867.9,...,8335.7,8624.2,8926,9291.4,9150.9,9472.7,9293.3,8697.5,8910.4,8423.5
59,2000,Alaska,10,Utilities,431.2,434.4,448.1,476.5,488.7,512.5,...,774.8,779.1,791.9,812.5,812.9,805.7,821.8,806,799.5,811.9
60,2000,Alaska,11,Construction,1979.2,2055,2093.2,2026.5,2052.4,2061.2,...,1843.7,1842.5,1820.5,1883.4,1906.4,1985.2,2101.4,2072.2,2036.9,2029.3
61,2000,Alaska,12,Manufacturing,1278.4,1181.7,1291.2,1309.8,1377.1,1414,...,1521.3,1724.1,1745.6,1813.7,1831.9,1855.6,1869.3,1768.1,1809.4,1837.5
62,2000,Alaska,13,Durable goods manufacturing,156.7,159.4,157,152.4,160.9,160.2,...,229,232.4,240.5,233.1,232.9,233.2,234.3,245.5,244.2,248.3
63,2000,Alaska,25,Nondurable goods manufacturing,1121.7,1022.3,1134.2,1157.4,1216.2,1253.8,...,1292.2,1491.7,1505.1,1580.6,1599.1,1622.4,1635,1522.7,1565.2,1589.2
64,2000,Alaska,34,Wholesale trade,869.5,861.1,924.8,893.9,934,963.2,...,1281.7,1294.3,1316.7,1334.9,1358.6,1398.7,1452.1,1445.8,1453,1491.5

In [113]:
df1['GeoName'].value_counts()

United States *         26
New Hampshire           24
Southeast               24
Utah                    24
Minnesota               24
New Mexico              24
Nebraska                24
Nevada                  24
Michigan                24
Alabama                 24
Vermont                 24
Georgia                 24
Illinois                24
Arkansas                24
District of Columbia    24
Hawaii                  24
Tennessee               24
Maine                   24
Delaware                24
Great Lakes             24
Montana                 24
Washington              24
New York                24
West Virginia           24
Far West                24
Ohio                    24
North Carolina          24
Idaho                   24
Wisconsin               24
Wyoming                 24
Mideast                 24
Maryland                24
Kansas                  24
South Dakota            24
South Carolina          24
North Dakota            24
Iowa                    24
Colorado                24
Connecticut             24
Texas                   24
Missouri                24
Rhode Island            24
Indiana                 24
Southwest               24
Kentucky                24
Louisiana               24
Virginia                24
New England             24
Oklahoma                24
Mississippi             24
Alaska                  24
Pennsylvania            24
California              24
Arizona                 24
Oregon                  24
Rocky Mountain          24
Plains                  24
New Jersey              24
Florida                 24
Massachusetts           24
Name: GeoName, dtype: int64

In [114]:
df1 = df1[df1.GeoName != 'United States *']

In [115]:
df1 = df1[df1.GeoName != 'Far West']

In [116]:
df1 = df1[df1.GeoName != 'Rocky Mountain']

In [117]:
df1 = df1[df1.GeoName != 'Southwest']

In [118]:
df1 = df1[df1.GeoName != 'Southeast']

In [119]:
df1 = df1[df1.GeoName != 'Plains']

In [120]:
df1 = df1[df1.GeoName != 'Great Lakes']

In [121]:
df1 = df1[df1.GeoName != 'Mideast']

In [122]:
df1 = df1[df1.GeoName != 'New England']

In [123]:
df1['GeoName'].value_counts()

New Hampshire           24
Montana                 24
Tennessee               24
Alaska                  24
Delaware                24
Pennsylvania            24
Nevada                  24
California              24
North Dakota            24
Arizona                 24
Maine                   24
Virginia                24
Washington              24
Mississippi             24
New York                24
Oregon                  24
West Virginia           24
New Jersey              24
Kansas                  24
Florida                 24
Ohio                    24
North Carolina          24
Idaho                   24
Wisconsin               24
Hawaii                  24
Oklahoma                24
Maryland                24
Connecticut             24
South Dakota            24
Wyoming                 24
Utah                    24
Minnesota               24
South Carolina          24
New Mexico              24
Nebraska                24
Iowa                    24
Colorado                24
Michigan                24
Alabama                 24
District of Columbia    24
Texas                   24
Vermont                 24
Missouri                24
Rhode Island            24
Indiana                 24
Georgia                 24
Illinois                24
Kentucky                24
Arkansas                24
Louisiana               24
Massachusetts           24
Name: GeoName, dtype: int64

In [124]:
df1['GeoName'].nunique()

51

In [125]:
df1 = df1[df1.LineCode != '1']

In [126]:
df1 = df1[df1.LineCode != '2']

In [127]:
df1 = df1[df1.LineCode != '13']

In [128]:
df1 = df1[df1.LineCode != '25']

In [129]:
df1.head(30)

3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
33,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",2659.8,2643.4,2600.6,2617.7,1968.9,2090.1,...,2392.5,2202,2232.9,2359.5,2380,2117.7,2243.8,1878.1,1942.7,2029.6
34,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",2421.4,2645.8,2783.3,3137.7,2939.1,2841.3,...,2758.9,2804.8,3129.6,3056.7,2964.5,3032.7,2975.3,2679.9,2755.2,2581.4
35,1000,Alabama,10,Utilities,3586.6,3730,4008.8,3970.7,4397.9,4284,...,5791.5,6367,6507.8,6357.9,6213.4,6554,6837.1,7057.4,7071.8,7155.6
36,1000,Alabama,11,Construction,7434.9,7605.6,7750.8,8116.4,8353.5,8522.5,...,7202.2,7343.4,7377.4,7563.8,7743.6,7961.2,8117.7,8246.8,8420.5,8432.5
37,1000,Alabama,12,Manufacturing,27768.3,27502.5,27802.5,28958.5,29575.7,29958.5,...,34687.5,35565,36491.1,37034.7,37101.5,37950.3,38382.1,38350.4,38618.4,38714.4
40,1000,Alabama,34,Wholesale trade,8747.9,8831.8,8989,9302.1,9346.4,9466.8,...,11944.8,12037.9,12038.1,12107.9,12215,12377.8,12714.5,12817.8,12789.5,12974.8
41,1000,Alabama,35,Retail trade,11560.6,11765.1,11759.7,12142,12282.9,12332.8,...,14074.2,14185.9,14423.9,14796.8,15324.3,15470.4,15596.1,15916.1,16014.8,16341.9
42,1000,Alabama,36,Transportation and warehousing,3928.7,4110.2,4229.4,4387.7,4455.4,4504.6,...,5639.2,5700.2,5821.8,5979.1,6080.9,6191.1,6367,6385.1,6370.4,6385.2
43,1000,Alabama,45,Information,5159,5300.2,5177.5,5111.5,5236.7,5339.2,...,4642.9,4720,4735.1,4594.2,4805.7,4887.4,4857.6,5171.3,5220.3,5280.3
44,1000,Alabama,51,Finance and insurance,9712.1,10116.7,9507.2,9393.2,9094.6,9107.1,...,11783.3,11974,12447.6,12790.9,13382.7,13476.9,13144.3,13422,13693.4,13640.4
45,1000,Alabama,56,Real estate and rental and leasing,13810.9,14080.4,14336.8,14406.3,14406.9,14771.6,...,22365.5,22446.7,22809.8,23100.6,23485.2,23653,23990.4,24212.7,24492.3,24736.8
46,1000,Alabama,60,"Professional, scientific, and technical ...",8022.6,8160.8,8444.8,8446.3,8829.9,8998.5,...,12849.4,13032.6,13428.9,13501.5,13852.4,13951.5,13973.8,14237.8,14582.8,14753.6
47,1000,Alabama,64,Management of companies and enterprises,992.9,1119.3,1184.5,1182.4,1256.2,1191.9,...,2317.5,2068,2198.7,2245.3,2116,2076.7,2154.3,2224.9,2262.6,2284
48,1000,Alabama,65,Administrative and support and waste man...,3409.7,3551.5,3645.3,3774.2,3795,3728.7,...,5616,5751.6,5846.9,5890.3,5958.4,6064.1,6270.3,6340.8,6440.7,6592.8
49,1000,Alabama,69,Educational services,758.8,771,761.2,785.5,799.5,827.9,...,1323,1319.3,1313.1,1296.1,1346.1,1328.2,1391.3,1382.3,1371.5,1391.5
50,1000,Alabama,70,Health care and social assistance,9731.1,9801.4,9925.1,10140,10347.9,10535.2,...,15572.8,15747,15847,16043.6,16312.6,16422.7,16586.5,16935.9,17073.6,17347.3
51,1000,Alabama,76,"Arts, entertainment, and recreation",533,519.7,523,534.4,546.9,554.6,...,779.6,796,817.1,815.4,863.1,862.3,866.1,908.8,906,902.1
52,1000,Alabama,79,Accommodation and food services,3453,3480.4,3503,3600.1,3711.7,3722.7,...,5940.6,6032.5,6070.2,6181.5,6341.5,6411,6588.8,6606.2,6651,6777.5
53,1000,Alabama,82,Other services (except government and go...,4228.1,4251.9,4322.2,4340.8,4446.8,4483.2,...,5220.7,5323.1,5395.7,5494.6,5622.4,5707,5830.4,5858,5894.3,5987.1
54,1000,Alabama,83,Government and government enterprises,24721.5,24974.7,25156.2,25519.8,25466.9,26225.9,...,35457.6,35263.7,35847,36159.5,36463,36644.7,36972.1,37102.5,37367.3,37835.8
57,2000,Alaska,3,"Agriculture, forestry, fishing and hunting",216.5,261.2,376.2,526.8,404.9,348.8,...,374.7,399.4,404.1,356.3,367.1,442.8,459.9,449.5,432.4,439.3
58,2000,Alaska,6,"Mining, quarrying, and oil and gas extra...",8610.3,9655,10508,12822.4,12675.7,13867.9,...,8335.7,8624.2,8926,9291.4,9150.9,9472.7,9293.3,8697.5,8910.4,8423.5
59,2000,Alaska,10,Utilities,431.2,434.4,448.1,476.5,488.7,512.5,...,774.8,779.1,791.9,812.5,812.9,805.7,821.8,806,799.5,811.9
60,2000,Alaska,11,Construction,1979.2,2055,2093.2,2026.5,2052.4,2061.2,...,1843.7,1842.5,1820.5,1883.4,1906.4,1985.2,2101.4,2072.2,2036.9,2029.3
61,2000,Alaska,12,Manufacturing,1278.4,1181.7,1291.2,1309.8,1377.1,1414,...,1521.3,1724.1,1745.6,1813.7,1831.9,1855.6,1869.3,1768.1,1809.4,1837.5
64,2000,Alaska,34,Wholesale trade,869.5,861.1,924.8,893.9,934,963.2,...,1281.7,1294.3,1316.7,1334.9,1358.6,1398.7,1452.1,1445.8,1453,1491.5
65,2000,Alaska,35,Retail trade,1843.5,1847.2,1884.5,1882.4,1867,1862.9,...,2244.5,2260.3,2257.3,2271.9,2321.2,2311.5,2332.1,2360.4,2396.9,2439.5
66,2000,Alaska,36,Transportation and warehousing,3255.6,3243.4,3368,3457.6,3408.4,3646.3,...,6671.5,6794,6870.5,7058.9,7401.1,7596.8,7680.1,7459.2,7505,7542.6
67,2000,Alaska,45,Information,1004.1,1096.4,1095.3,1062.1,1063.1,1061.2,...,1352.9,1344.5,1374.9,1273.3,1299.7,1373.2,1322.8,1327.7,1349.5,1365.8
68,2000,Alaska,51,Finance and insurance,1265.9,1266.4,1337.5,1313,1195,1149.9,...,1240.2,1241.2,1275.5,1244.1,1279.8,1290.6,1225.2,1260.7,1271.6,1259.9

In [130]:
df1['2005:Q1'].value_counts()

(D)         4
7850.1      2
2490.4      2
11579.2     2
731.8       2
           ..
199996.5    1
3630        1
73339.8     1
52659.7     1
617.9       1
Name: 2005:Q1, Length: 1010, dtype: int64

In [131]:
df1.loc[df1['2005:Q1'] == '(D)']

3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
202,10000,Delaware,6,"Mining, quarrying, and oil and gas extra...",(D),(D),(D),(D),1.4,1.5,...,(D),(D),(D),(D),(D),(D),(D),(D),(D),(D)
204,10000,Delaware,11,Construction,(D),(D),(D),(D),2602.2,2524.8,...,2654,2666.8,2727.5,2693.1,2766.8,2811.4,2858.9,2953.1,2986.4,3002.6
226,11000,District of Columbia,6,"Mining, quarrying, and oil and gas extra...",(D),(D),(D),(D),0,0,...,0,0,0,0,0,0,0,0,0,0
228,11000,District of Columbia,11,Construction,(D),(D),(D),(D),1016.5,1126.1,...,(D),(D),(D),1646.4,1646.5,1642.6,1643.8,1588.4,1612.9,1608.4

In [132]:
df1 = df1.replace('(D)', 0)

In [133]:
df1 = df1.astype({'2005:Q1':'float32',
                 '2005:Q2':'float32',
                 '2005:Q3':'float32',
                 '2005:Q4':'float32',
                 '2006:Q1':'float32',
                 '2006:Q2':'float32',
                 '2006:Q3':'float32',
                 '2006:Q4':'float32',
                 '2007:Q1':'float32',
                 '2007:Q2':'float32',
                 '2007:Q3':'float32',
                 '2007:Q4':'float32',
                  '2008:Q1':'float32',
                  '2008:Q2':'float32',
                  '2008:Q3':'float32',
                  '2008:Q4':'float32',
                  '2009:Q1':'float32',
                  '2009:Q2':'float32',
                  '2009:Q3':'float32',
                  '2009:Q4':'float32',
                  '2010:Q1':'float32',
                  '2010:Q2':'float32',
                  '2010:Q3':'float32',
                  '2010:Q4':'float32',
                  '2011:Q1':'float32',
                  '2011:Q2':'float32',
                  '2011:Q3':'float32',
                  '2011:Q4':'float32',
                  '2012:Q1':'float32',
                  '2012:Q2':'float32',
                  '2012:Q3':'float32',
                  '2012:Q4':'float32',
                  '2013:Q1':'float32',
                  '2013:Q2':'float32',
                  '2013:Q3':'float32',
                  '2013:Q4':'float32',
                  '2014:Q1':'float32',
                  '2014:Q2':'float32',
                  '2014:Q3':'float32',
                  '2014:Q4':'float32',
                  '2015:Q1':'float32',
                  '2015:Q2':'float32',
                  '2015:Q3':'float32',
                  '2015:Q4':'float32',
                  '2016:Q1':'float32',
                  '2016:Q2':'float32',
                  '2016:Q3':'float32',
                  '2016:Q4':'float32',
                  '2017:Q1':'float32',
                  '2017:Q2':'float32',
                  '2017:Q3':'float32',
                  '2017:Q4':'float32',
                  '2018:Q1':'float32',
                  '2018:Q2':'float32',
                  '2018:Q3':'float32',
                  '2018:Q4':'float32',
                  '2019:Q1':'float32',
                  '2019:Q2':'float32',
                  '2019:Q3':'float32'
                 })
df1

3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2017:Q2,2017:Q3,2017:Q4,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2019:Q2,2019:Q3
33,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",2659.800049,2643.399902,2600.600098,2617.699951,1968.900024,2090.100098,...,2392.500000,2202.000000,2232.899902,2359.500000,2380.000000,2117.699951,2243.800049,1878.099976,1942.699951,2029.599976
34,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",2421.399902,2645.800049,2783.300049,3137.699951,2939.100098,2841.300049,...,2758.899902,2804.800049,3129.600098,3056.699951,2964.500000,3032.699951,2975.300049,2679.899902,2755.199951,2581.399902
35,1000,Alabama,10,Utilities,3586.600098,3730.000000,4008.800049,3970.699951,4397.899902,4284.000000,...,5791.500000,6367.000000,6507.799805,6357.899902,6213.399902,6554.000000,6837.100098,7057.399902,7071.799805,7155.600098
36,1000,Alabama,11,Construction,7434.899902,7605.600098,7750.799805,8116.399902,8353.500000,8522.500000,...,7202.200195,7343.399902,7377.399902,7563.799805,7743.600098,7961.200195,8117.700195,8246.799805,8420.500000,8432.500000
37,1000,Alabama,12,Manufacturing,27768.300781,27502.500000,27802.500000,28958.500000,29575.699219,29958.500000,...,34687.500000,35565.000000,36491.101562,37034.699219,37101.500000,37950.300781,38382.101562,38350.398438,38618.398438,38714.398438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,56000,Wyoming,70,Health care and social assistance,1007.500000,996.099976,1004.900024,1041.300049,1060.500000,1077.900024,...,1646.400024,1680.099976,1673.400024,1739.500000,1736.800049,1752.199951,1763.300049,1776.199951,1781.300049,1797.800049
1251,56000,Wyoming,76,"Arts, entertainment, and recreation",131.800003,145.199997,152.399994,155.699997,175.899994,162.199997,...,272.299988,281.600006,274.299988,276.299988,289.299988,293.500000,290.500000,282.700012,278.200012,284.100006
1252,56000,Wyoming,79,Accommodation and food services,833.200012,802.200012,798.299988,824.000000,927.599976,931.400024,...,1355.599976,1380.500000,1388.699951,1428.000000,1448.199951,1468.300049,1484.699951,1534.500000,1546.699951,1585.099976
1253,56000,Wyoming,82,Other services (except government and go...,455.200012,448.600006,464.299988,478.200012,524.900024,547.900024,...,578.000000,592.900024,600.099976,614.400024,619.400024,624.599976,643.599976,643.900024,652.700012,665.700012
1254,56000,Wyoming,83,Government and government enterprises,3779.600098,3735.199951,3767.000000,3865.600098,3895.100098,3966.500000,...,6207.600098,6203.899902,6233.799805,6194.500000,6276.899902,6366.299805,6334.299805,6413.299805,6469.000000,6548.700195

In [134]:
df1['2005 GDP'] = df1['2005:Q1'] + df1['2005:Q2'] + df1['2005:Q3'] + df1['2005:Q4']
df1['2006 GDP'] = df1['2006:Q1'] + df1['2006:Q2'] + df1['2006:Q3'] + df1['2006:Q4']
df1['2007 GDP'] = df1['2007:Q1'] + df1['2007:Q2'] + df1['2007:Q3'] + df1['2007:Q4']
df1['2008 GDP'] = df1['2008:Q1'] + df1['2008:Q2'] + df1['2008:Q3'] + df1['2008:Q4']
df1['2009 GDP'] = df1['2009:Q1'] + df1['2009:Q2'] + df1['2009:Q3'] + df1['2009:Q4']
df1['2010 GDP'] = df1['2010:Q1'] + df1['2010:Q2'] + df1['2010:Q3'] + df1['2010:Q4']
df1['2011 GDP'] = df1['2011:Q1'] + df1['2011:Q2'] + df1['2011:Q3'] + df1['2011:Q4']
df1['2012 GDP'] = df1['2012:Q1'] + df1['2012:Q2'] + df1['2012:Q3'] + df1['2012:Q4']
df1['2013 GDP'] = df1['2013:Q1'] + df1['2013:Q2'] + df1['2013:Q3'] + df1['2013:Q4']
df1['2014 GDP'] = df1['2014:Q1'] + df1['2014:Q2'] + df1['2014:Q3'] + df1['2014:Q4']
df1['2015 GDP'] = df1['2015:Q1'] + df1['2015:Q2'] + df1['2015:Q3'] + df1['2015:Q4']
df1['2016 GDP'] = df1['2016:Q1'] + df1['2016:Q2'] + df1['2016:Q3'] + df1['2016:Q4']
df1['2017 GDP'] = df1['2017:Q1'] + df1['2017:Q2'] + df1['2017:Q3'] + df1['2017:Q4']
df1['2018 GDP'] = df1['2018:Q1'] + df1['2018:Q2'] + df1['2018:Q3'] + df1['2018:Q4']

In [135]:
df1.head(20)

3,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2009 GDP,2010 GDP,2011 GDP,2012 GDP,2013 GDP,2014 GDP,2015 GDP,2016 GDP,2017 GDP,2018 GDP
33,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",2659.800049,2643.399902,2600.600098,2617.699951,1968.900024,2090.100098,...,7663.899902,7713.400391,6364.099609,7208.699707,12454.799805,10074.700195,10244.400391,7915.500000,9233.699219,9101.000000
34,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",2421.399902,2645.800049,2783.300049,3137.699951,2939.100098,2841.300049,...,11279.199219,12138.000000,11797.799805,11567.299805,11042.400391,10099.500000,9668.500000,6899.399902,11135.599609,12029.200195
35,1000,Alabama,10,Utilities,3586.600098,3730.000000,4008.800049,3970.699951,4397.899902,4284.000000,...,20209.898438,22335.701172,23283.300781,22757.400391,22721.300781,23443.800781,24011.101562,24801.201172,24617.699219,25962.400391
36,1000,Alabama,11,Construction,7434.899902,7605.600098,7750.799805,8116.399902,8353.500000,8522.500000,...,29647.398438,27237.902344,26460.300781,27514.500000,26857.701172,26702.800781,27193.300781,28753.898438,29499.500000,31386.300781
37,1000,Alabama,12,Manufacturing,27768.300781,27502.500000,27802.500000,28958.500000,29575.699219,29958.500000,...,101003.406250,109693.093750,125126.109375,127687.296875,134471.000000,133129.000000,133478.500000,137380.500000,141561.703125,150468.593750
40,1000,Alabama,34,Wholesale trade,8747.900391,8831.799805,8989.000000,9302.099609,9346.400391,9466.799805,...,39171.500000,40559.500000,41477.300781,42415.800781,44353.800781,45034.300781,45895.402344,47248.601562,47910.703125,49415.199219
41,1000,Alabama,35,Retail trade,11560.599609,11765.099609,11759.700195,12142.000000,12282.900391,12332.799805,...,47073.699219,47848.902344,48563.601562,50201.695312,51437.296875,51898.800781,54086.703125,56250.101562,56740.398438,61187.601562
42,1000,Alabama,36,Transportation and warehousing,3928.699951,4110.200195,4229.399902,4387.700195,4455.399902,4504.600098,...,17627.000000,18692.800781,19248.500000,19209.500000,19299.898438,19970.300781,20850.900391,21333.599609,22815.300781,24618.099609
43,1000,Alabama,45,Information,5159.000000,5300.200195,5177.500000,5111.500000,5236.700195,5339.200195,...,18719.500000,18351.300781,17927.400391,17009.500000,17860.800781,17614.101562,18635.500000,18526.000000,18671.000000,19144.900391
44,1000,Alabama,51,Finance and insurance,9712.099609,10116.700195,9507.200195,9393.200195,9094.599609,9107.099609,...,31662.298828,33487.500000,32361.199219,40879.000000,41363.601562,46472.898438,49121.601562,46516.000000,47781.500000,52794.800781
45,1000,Alabama,56,Real estate and rental and leasing,13810.900391,14080.400391,14336.799805,14406.299805,14406.900391,14771.599609,...,71194.101562,74395.601562,79334.093750,80637.296875,81580.703125,82220.601562,86368.101562,88864.000000,89847.390625,94229.195312
46,1000,Alabama,60,"Professional, scientific, and technical ...",8022.600098,8160.799805,8444.799805,8446.299805,8829.900391,8998.500000,...,42402.000000,42664.597656,43808.699219,44330.101562,45122.703125,45569.500000,47620.804688,49210.199219,52062.195312,55279.199219
47,1000,Alabama,64,Management of companies and enterprises,992.900024,1119.300049,1184.500000,1182.400024,1256.199951,1191.900024,...,5974.500488,6648.399902,6994.000000,7438.299805,7361.799805,7027.200195,7294.699707,8059.799805,8703.200195,8592.299805
48,1000,Alabama,65,Administrative and support and waste man...,3409.699951,3551.500000,3645.300049,3774.199951,3795.000000,3728.699951,...,16229.699219,18397.900391,18812.800781,19208.099609,19483.101562,20370.099609,20901.599609,21216.699219,22764.201172,24183.097656
49,1000,Alabama,69,Educational services,758.799988,771.000000,761.200012,785.500000,799.500000,827.900024,...,4301.700195,4551.199707,4679.700195,4790.000000,4875.500000,5105.500000,5310.000000,5553.300293,5293.700195,5361.700195
50,1000,Alabama,70,Health care and social assistance,9731.099609,9801.400391,9925.099609,10140.000000,10347.900391,10535.200195,...,49080.097656,50502.101562,52251.300781,53558.898438,55026.703125,56267.195312,59131.398438,61302.496094,62787.800781,65365.398438
51,1000,Alabama,76,"Arts, entertainment, and recreation",533.000000,519.700012,523.000000,534.400024,546.900024,554.599976,...,2443.399902,2449.600098,2482.500000,2683.100098,2697.199951,2836.099854,2863.000000,3078.500000,3144.100098,3406.899902
52,1000,Alabama,79,Accommodation and food services,3453.000000,3480.399902,3503.000000,3600.100098,3711.699951,3722.699951,...,15880.599609,16515.500000,17230.601562,18707.199219,19541.900391,20618.601562,22094.298828,23139.001953,23923.101562,25522.800781
53,1000,Alabama,82,Other services (except government and go...,4228.100098,4251.899902,4322.200195,4340.799805,4446.799805,4483.200195,...,18342.099609,18853.500000,18984.402344,19320.199219,19460.699219,20167.699219,20693.300781,20793.798828,21090.800781,22654.400391
54,1000,Alabama,83,Government and government enterprises,24721.500000,24974.699219,25156.199219,25519.800781,25466.900391,26225.900391,...,123486.093750,125975.906250,128211.000000,128072.203125,128910.906250,132221.296875,136147.609375,138476.796875,141874.109375,146239.312500

In [136]:
df1 = df1.reset_index()

In [137]:
df1.to_csv('econ_clean_validation.csv')

In [138]:
df1.head()

3,index,GeoFips,GeoName,LineCode,Description,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,...,2009 GDP,2010 GDP,2011 GDP,2012 GDP,2013 GDP,2014 GDP,2015 GDP,2016 GDP,2017 GDP,2018 GDP
0,33,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",2659.800049,2643.399902,2600.600098,2617.699951,1968.900024,...,7663.899902,7713.400391,6364.099609,7208.699707,12454.799805,10074.700195,10244.400391,7915.500000,9233.699219,9101.000000
1,34,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",2421.399902,2645.800049,2783.300049,3137.699951,2939.100098,...,11279.199219,12138.000000,11797.799805,11567.299805,11042.400391,10099.500000,9668.500000,6899.399902,11135.599609,12029.200195
2,35,1000,Alabama,10,Utilities,3586.600098,3730.000000,4008.800049,3970.699951,4397.899902,...,20209.898438,22335.701172,23283.300781,22757.400391,22721.300781,23443.800781,24011.101562,24801.201172,24617.699219,25962.400391
3,36,1000,Alabama,11,Construction,7434.899902,7605.600098,7750.799805,8116.399902,8353.500000,...,29647.398438,27237.902344,26460.300781,27514.500000,26857.701172,26702.800781,27193.300781,28753.898438,29499.500000,31386.300781
4,37,1000,Alabama,12,Manufacturing,27768.300781,27502.500000,27802.500000,28958.500000,29575.699219,...,101003.406250,109693.093750,125126.109375,127687.296875,134471.000000,133129.000000,133478.500000,137380.500000,141561.703125,150468.593750

In [139]:
df1 = df1.rename(columns={"GeoName":"State", "Description": "Industry"})

In [140]:
df1.head()

3,index,GeoFips,State,LineCode,Industry,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,...,2009 GDP,2010 GDP,2011 GDP,2012 GDP,2013 GDP,2014 GDP,2015 GDP,2016 GDP,2017 GDP,2018 GDP
0,33,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",2659.800049,2643.399902,2600.600098,2617.699951,1968.900024,...,7663.899902,7713.400391,6364.099609,7208.699707,12454.799805,10074.700195,10244.400391,7915.500000,9233.699219,9101.000000
1,34,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",2421.399902,2645.800049,2783.300049,3137.699951,2939.100098,...,11279.199219,12138.000000,11797.799805,11567.299805,11042.400391,10099.500000,9668.500000,6899.399902,11135.599609,12029.200195
2,35,1000,Alabama,10,Utilities,3586.600098,3730.000000,4008.800049,3970.699951,4397.899902,...,20209.898438,22335.701172,23283.300781,22757.400391,22721.300781,23443.800781,24011.101562,24801.201172,24617.699219,25962.400391
3,36,1000,Alabama,11,Construction,7434.899902,7605.600098,7750.799805,8116.399902,8353.500000,...,29647.398438,27237.902344,26460.300781,27514.500000,26857.701172,26702.800781,27193.300781,28753.898438,29499.500000,31386.300781
4,37,1000,Alabama,12,Manufacturing,27768.300781,27502.500000,27802.500000,28958.500000,29575.699219,...,101003.406250,109693.093750,125126.109375,127687.296875,134471.000000,133129.000000,133478.500000,137380.500000,141561.703125,150468.593750

In [141]:
df1 = df1.drop(columns=['index','GeoFips','LineCode'])

In [142]:
df1.head()

3,State,Industry,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,2006:Q3,2006:Q4,...,2009 GDP,2010 GDP,2011 GDP,2012 GDP,2013 GDP,2014 GDP,2015 GDP,2016 GDP,2017 GDP,2018 GDP
0,Alabama,"Agriculture, forestry, fishing and hunting",2659.800049,2643.399902,2600.600098,2617.699951,1968.900024,2090.100098,2179.100098,2160.800049,...,7663.899902,7713.400391,6364.099609,7208.699707,12454.799805,10074.700195,10244.400391,7915.500000,9233.699219,9101.000000
1,Alabama,"Mining, quarrying, and oil and gas extra...",2421.399902,2645.800049,2783.300049,3137.699951,2939.100098,2841.300049,2901.800049,2899.000000,...,11279.199219,12138.000000,11797.799805,11567.299805,11042.400391,10099.500000,9668.500000,6899.399902,11135.599609,12029.200195
2,Alabama,Utilities,3586.600098,3730.000000,4008.800049,3970.699951,4397.899902,4284.000000,4522.200195,4311.200195,...,20209.898438,22335.701172,23283.300781,22757.400391,22721.300781,23443.800781,24011.101562,24801.201172,24617.699219,25962.400391
3,Alabama,Construction,7434.899902,7605.600098,7750.799805,8116.399902,8353.500000,8522.500000,8524.200195,8478.400391,...,29647.398438,27237.902344,26460.300781,27514.500000,26857.701172,26702.800781,27193.300781,28753.898438,29499.500000,31386.300781
4,Alabama,Manufacturing,27768.300781,27502.500000,27802.500000,28958.500000,29575.699219,29958.500000,29539.400391,28979.099609,...,101003.406250,109693.093750,125126.109375,127687.296875,134471.000000,133129.000000,133478.500000,137380.500000,141561.703125,150468.593750

In [143]:
df1.drop(df1.iloc[:, 2:61], inplace = True, axis = 1)

In [144]:
df1.head()

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,2013 GDP,2014 GDP,2015 GDP,2016 GDP,2017 GDP,2018 GDP
0,Alabama,"Agriculture, forestry, fishing and hunting",10521.500000,8398.900391,7777.200195,7579.800293,7663.899902,7713.400391,6364.099609,7208.699707,12454.799805,10074.700195,10244.400391,7915.500000,9233.699219,9101.000000
1,Alabama,"Mining, quarrying, and oil and gas extra...",10988.200195,11581.200195,13727.900391,15396.199219,11279.199219,12138.000000,11797.799805,11567.299805,11042.400391,10099.500000,9668.500000,6899.399902,11135.599609,12029.200195
2,Alabama,Utilities,15296.100586,17515.300781,18298.000000,18877.400391,20209.898438,22335.701172,23283.300781,22757.400391,22721.300781,23443.800781,24011.101562,24801.201172,24617.699219,25962.400391
3,Alabama,Construction,30907.701172,33878.601562,36662.699219,33471.699219,29647.398438,27237.902344,26460.300781,27514.500000,26857.701172,26702.800781,27193.300781,28753.898438,29499.500000,31386.300781
4,Alabama,Manufacturing,112031.796875,118052.703125,116161.296875,116017.296875,101003.406250,109693.093750,125126.109375,127687.296875,134471.000000,133129.000000,133478.500000,137380.500000,141561.703125,150468.593750

In [145]:
df1 = df1.round()

In [146]:
clean_abs_df = df1.astype({
  '2005 GDP':'int32',
    '2006 GDP':'int32',
    '2007 GDP':'int32',
    '2008 GDP':'int32',
    '2009 GDP':'int32',
    '2010 GDP':'int32',
    '2011 GDP':'int32',
    '2012 GDP':'int32',
    '2013 GDP':'int32',
    '2014 GDP':'int32',
    '2015 GDP':'int32',
    '2016 GDP':'int32',
    '2017 GDP':'int32',
    '2018 GDP':'int32'
})

In [147]:
clean_abs_df.head()

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,2013 GDP,2014 GDP,2015 GDP,2016 GDP,2017 GDP,2018 GDP
0,Alabama,"Agriculture, forestry, fishing and hunting",10522,8399,7777,7580,7664,7713,6364,7209,12455,10075,10244,7916,9234,9101
1,Alabama,"Mining, quarrying, and oil and gas extra...",10988,11581,13728,15396,11279,12138,11798,11567,11042,10100,9668,6899,11136,12029
2,Alabama,Utilities,15296,17515,18298,18877,20210,22336,23283,22757,22721,23444,24011,24801,24618,25962
3,Alabama,Construction,30908,33879,36663,33472,29647,27238,26460,27514,26858,26703,27193,28754,29500,31386
4,Alabama,Manufacturing,112032,118053,116161,116017,101003,109693,125126,127687,134471,133129,133478,137380,141562,150469

In [155]:
clean_abs_df['Industry'] = clean_abs_df['Industry'].str.strip()

In [157]:
list(clean_abs_df.Industry)

['Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises',
 'Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',

In [158]:
perc_df = clean_abs_df

In [159]:
def growth_perc(x,y):
    growth = (y - x)/x
    growth = growth*100
    growth = growth.round(2)
    return growth

def total_growth(a,b):
    tot_growth = (b-a)/a
    tot_growth = tot_growth*100
    tot_growth = tot_growth.round(2)
    return tot_growth

In [160]:
perc_df['2006 Growth %'] = growth_perc(perc_df['2005 GDP'],perc_df['2006 GDP'])
perc_df['2007 Growth %'] = growth_perc(perc_df['2006 GDP'],perc_df['2007 GDP'])
perc_df['2008 Growth %'] = growth_perc(perc_df['2007 GDP'],perc_df['2008 GDP'])
perc_df['2009 Growth %'] = growth_perc(perc_df['2008 GDP'],perc_df['2009 GDP'])
perc_df['2010 Growth %'] = growth_perc(perc_df['2009 GDP'],perc_df['2010 GDP'])
perc_df['2011 Growth %'] = growth_perc(perc_df['2010 GDP'],perc_df['2011 GDP'])
perc_df['2012 Growth %'] = growth_perc(perc_df['2011 GDP'],perc_df['2012 GDP'])
perc_df['2013 Growth %'] = growth_perc(perc_df['2012 GDP'],perc_df['2013 GDP'])
perc_df['2014 Growth %'] = growth_perc(perc_df['2013 GDP'],perc_df['2014 GDP'])
perc_df['2015 Growth %'] = growth_perc(perc_df['2014 GDP'],perc_df['2015 GDP'])
perc_df['2016 Growth %'] = growth_perc(perc_df['2015 GDP'],perc_df['2016 GDP'])
perc_df['2017 Growth %'] = growth_perc(perc_df['2016 GDP'],perc_df['2017 GDP'])
perc_df['2018 Growth %'] = growth_perc(perc_df['2017 GDP'],perc_df['2018 GDP'])
perc_df['2010-2018 Growth %'] = total_growth(perc_df['2010 GDP'],perc_df['2018 GDP'])

In [161]:
perc_df.head()

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,...,2010 Growth %,2011 Growth %,2012 Growth %,2013 Growth %,2014 Growth %,2015 Growth %,2016 Growth %,2017 Growth %,2018 Growth %,2010-2018 Growth %
0,Alabama,"Agriculture, forestry, fishing and hunting",10522,8399,7777,7580,7664,7713,6364,7209,...,0.64,-17.49,13.28,72.77,-19.11,1.68,-22.73,16.65,-1.44,18.00
1,Alabama,"Mining, quarrying, and oil and gas extraction",10988,11581,13728,15396,11279,12138,11798,11567,...,7.62,-2.80,-1.96,-4.54,-8.53,-4.28,-28.64,61.41,8.02,-0.90
2,Alabama,Utilities,15296,17515,18298,18877,20210,22336,23283,22757,...,10.52,4.24,-2.26,-0.16,3.18,2.42,3.29,-0.74,5.46,16.23
3,Alabama,Construction,30908,33879,36663,33472,29647,27238,26460,27514,...,-8.13,-2.86,3.98,-2.38,-0.58,1.83,5.74,2.59,6.39,15.23
4,Alabama,Manufacturing,112032,118053,116161,116017,101003,109693,125126,127687,...,8.60,14.07,2.05,5.31,-1.00,0.26,2.92,3.04,6.29,37.17

In [162]:
#final clean dataframes
#find begin data analysis & charting

In [163]:
#questions to answer

# Which state grew the most in each industry from 2010-2018?
# Which state grew

In [164]:
industries = list(perc_df['Industry'].unique())
industries

['Agriculture, forestry, fishing and hunting',
 'Mining, quarrying, and oil and gas extraction',
 'Utilities',
 'Construction',
 'Manufacturing',
 'Wholesale trade',
 'Retail trade',
 'Transportation and warehousing',
 'Information',
 'Finance and insurance',
 'Real estate and rental and leasing',
 'Professional, scientific, and technical services',
 'Management of companies and enterprises',
 'Administrative and support and waste management and remediation services',
 'Educational services',
 'Health care and social assistance',
 'Arts, entertainment, and recreation',
 'Accommodation and food services',
 'Other services (except government and government enterprises)',
 'Government and government enterprises']

In [165]:
govt_df = perc_df.loc[perc_df['Industry'] == 'Government and government enterprises']

In [166]:
govt_df.head()

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,...,2010 Growth %,2011 Growth %,2012 Growth %,2013 Growth %,2014 Growth %,2015 Growth %,2016 Growth %,2017 Growth %,2018 Growth %,2010-2018 Growth %
19,Alabama,Government and government enterprises,100372,104836,113430,117539,123486,125976,128211,128072,...,2.02,1.77,-0.11,0.66,2.57,2.97,1.71,2.45,3.08,16.08
39,Alaska,Government and government enterprises,30209,31642,32929,34214,36185,37308,39360,40997,...,3.10,5.50,4.16,-1.52,2.47,0.65,0.24,0.82,2.91,16.08
59,Arizona,Government and government enterprises,118952,127301,135239,142981,140179,145933,148071,151283,...,4.10,1.47,2.17,2.23,-0.01,1.97,2.75,3.65,4.03,19.71
79,Arkansas,Government and government enterprises,47043,50024,51809,53639,55604,57581,58924,59736,...,3.56,2.33,1.38,2.74,1.18,0.77,1.17,0.95,2.39,13.64
99,California,Government and government enterprises,859084,904825,969547,1018035,1017920,1030718,1052515,1055771,...,1.26,2.11,0.31,3.89,5.57,5.65,3.53,3.52,3.99,32.29

In [170]:
top_5_govt = govt_df.nlargest(5, '2010-2018 Growth %')
bot_5_govt = govt_df.nsmallest(5, '2010-2018 Growth %')
glist = [top_5_govt,bot_5_govt]
max_min_govt = pd.concat(glist)
max_min_govt.head(10)

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,...,2010 Growth %,2011 Growth %,2012 Growth %,2013 Growth %,2014 Growth %,2015 Growth %,2016 Growth %,2017 Growth %,2018 Growth %,2010-2018 Growth %
99,California,Government and government enterprises,859084,904825,969547,1018035,1017920,1030718,1052515,1055771,...,1.26,2.11,0.31,3.89,5.57,5.65,3.53,3.52,3.99,32.29
119,Colorado,Government and government enterprises,113445,115908,118707,127344,131473,135597,136696,138727,...,3.14,0.81,1.49,2.77,4.47,6.24,3.06,3.87,4.42,30.45
819,South Carolina,Government and government enterprises,91848,96873,102022,109114,111208,111011,113788,117306,...,-0.18,2.50,3.09,3.07,2.63,5.19,3.32,2.77,3.18,28.83
959,Washington,Government and government enterprises,170173,183010,191412,205912,214632,221160,223167,231435,...,3.04,0.91,3.70,2.06,3.23,3.49,3.58,4.52,4.08,28.57
899,Utah,Government and government enterprises,54524,58108,60809,64302,65480,67629,70136,69721,...,3.28,3.71,-0.59,1.40,4.29,3.40,4.90,4.13,4.39,28.54
359,Kentucky,Government and government enterprises,81527,87382,92209,98804,99027,105542,105376,106776,...,6.58,-0.16,1.33,1.52,0.46,0.28,0.02,1.20,1.82,6.65
379,Louisiana,Government and government enterprises,89450,89024,86802,90101,101048,106375,108558,107196,...,5.27,2.05,-1.25,-1.17,-0.98,2.60,1.25,2.06,3.05,7.74
599,New Hampshire,Government and government enterprises,26349,27802,29404,30720,30762,32164,31773,31786,...,4.56,-1.22,0.04,2.38,2.90,0.39,0.51,1.17,2.58,9.02
979,West Virginia,Government and government enterprises,36543,37718,39219,40742,42871,43708,44510,45960,...,1.95,1.83,3.26,1.09,-1.28,1.97,-0.15,0.84,2.35,10.27
619,New Jersey,Government and government enterprises,198805,203698,214983,224257,230904,232529,225403,225530,...,0.70,-3.06,0.06,4.90,2.75,1.42,-0.55,2.09,2.75,10.60

In [ ]:
#construction
#retail trade
#real estate and rental and leasing
#Educational services
#Health care and social assistance
#Accommodation and food services
#Government and government enterprises

In [172]:
acom_df = perc_df.loc[perc_df['Industry'] == 'Accommodation and food services']
top_5_acom = acom_df.nlargest(5, '2010-2018 Growth %')
bot_5_acom = acom_df.nsmallest(5, '2010-2018 Growth %')
alist = [top_5_acom,bot_5_acom]
max_min_acom = pd.concat(alist)
max_min_acom.head(10)

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,...,2010 Growth %,2011 Growth %,2012 Growth %,2013 Growth %,2014 Growth %,2015 Growth %,2016 Growth %,2017 Growth %,2018 Growth %,2010-2018 Growth %
757,Oregon,Accommodation and food services,14841,15943,16907,16767,16505,17296,18432,20298,...,4.79,6.57,10.12,1.63,12.41,13.63,8.02,8.85,8.17,93.74
957,Washington,Accommodation and food services,30676,34448,36773,36274,33378,35593,37713,40855,...,6.64,5.96,8.33,7.02,6.25,12.83,9.61,10.46,6.32,89.58
257,Idaho,Accommodation and food services,4627,5049,5371,5493,5232,5428,5497,5852,...,3.75,1.27,6.46,6.32,7.01,12.24,13.09,9.75,8.10,84.71
97,California,Accommodation and food services,182460,195937,199567,201989,193039,196964,207732,218144,...,2.03,5.47,5.01,6.59,11.89,12.15,7.84,5.14,7.44,80.46
837,South Dakota,Accommodation and food services,3817,4182,4393,4560,3628,3774,3920,4416,...,4.02,3.87,12.65,20.22,7.06,6.98,3.54,3.49,3.42,78.56
37,Alaska,Accommodation and food services,4137,4417,4669,5197,4892,4927,4892,5220,...,0.72,-0.71,6.70,4.10,5.47,7.05,0.99,-3.13,4.10,26.81
497,Mississippi,Accommodation and food services,13890,13500,14613,14806,14076,14460,14767,15174,...,2.73,2.12,2.76,2.68,3.23,3.76,3.33,4.13,3.32,28.30
737,Oklahoma,Accommodation and food services,14690,15704,15346,16642,18209,17480,16538,17266,...,-4.00,-5.39,4.40,7.20,5.92,5.91,1.32,1.68,5.28,28.84
577,Nevada,Accommodation and food services,71800,75083,75995,73011,65647,68382,71456,72184,...,4.17,4.50,1.02,6.75,5.76,6.69,-1.11,1.70,2.83,31.49
977,West Virginia,Accommodation and food services,6628,6847,6993,7342,7377,7624,8562,9189,...,3.35,12.30,7.32,2.99,1.74,3.56,-3.41,1.21,2.97,31.68

In [173]:
health_df = perc_df.loc[perc_df['Industry'] == 'Health care and social assistance']
top_5_health = health_df.nlargest(5, '2010-2018 Growth %')
bot_5_health = health_df.nsmallest(5, '2010-2018 Growth %')
hlist = [top_5_health,bot_5_health]
max_min_health = pd.concat(hlist)
max_min_health.head(10)

3,State,Industry,2005 GDP,2006 GDP,2007 GDP,2008 GDP,2009 GDP,2010 GDP,2011 GDP,2012 GDP,...,2010 Growth %,2011 Growth %,2012 Growth %,2013 Growth %,2014 Growth %,2015 Growth %,2016 Growth %,2017 Growth %,2018 Growth %,2010-2018 Growth %
895,Utah,Health care and social assistance,19287,21442,22592,24743,26648,27084,28403,29569,...,1.64,4.87,4.11,6.62,2.12,5.58,10.41,4.62,5.73,53.26
695,North Dakota,Health care and social assistance,8355,8839,9275,10090,10814,11465,12222,13051,...,6.02,6.60,6.78,4.83,5.05,7.75,5.50,3.45,3.86,53.10
955,Washington,Health care and social assistance,68022,72026,76302,84661,90688,94249,97052,102117,...,3.93,2.97,5.22,3.88,3.57,6.43,7.96,6.24,6.50,51.55
35,Alaska,Health care and social assistance,8337,8787,9180,9907,10791,11510,12504,13214,...,6.66,8.64,5.68,4.96,0.30,5.38,6.00,4.58,6.55,50.44
575,Nevada,Health care and social assistance,20387,21964,23611,25985,27402,28036,28428,29562,...,2.31,1.40,3.99,2.07,5.98,7.42,8.05,5.64,7.24,49.99
795,Rhode Island,Health care and social assistance,16658,17530,17911,19031,19910,20830,20878,21256,...,4.62,0.23,1.81,2.77,1.59,3.61,1.42,0.86,3.16,16.48
1015,Wyoming,Health care and social assistance,4050,4370,4732,5343,5605,5844,5993,6234,...,4.26,2.55,4.02,0.61,0.85,2.34,1.96,0.94,4.95,19.64
135,Connecticut,Health care and social assistance,56330,59413,62295,68131,71350,73132,74662,77862,...,2.50,2.09,4.29,1.29,2.18,0.96,2.82,2.27,3.65,21.25
495,Mississippi,Health care and social assistance,21818,23409,24839,26770,28265,28969,29798,30774,...,2.49,2.86,3.28,0.12,1.98,2.78,3.82,3.57,4.51,25.28
395,Maine,Health care and social assistance,19547,21019,21721,23164,24165,24266,24797,25477,...,0.42,2.19,2.74,1.46,1.46,4.24,3.51,4.45,3.90,26.56